<!-- 
login.html template for Risk Demo Copyright Kibble Games Inc in partnership with Vancouver Film School 

 -->
<section id="welcome" ng-controller="LoginViewController">

    <b>Welcome! Please Login!</b>
    <form ng-submit="auth()">
        <input class="input login username" type="text" placeholder="username" /><br>
        <input class="input login password" type="password" placeholder="password" /><br>
        <input class="input login submit" type="submit" placeholder="login!" />
    </form>
    
    
</section>