<!-- 
login.html template for Risk Demo Copyright Kibble Games Inc in partnership with Vancouver Film School 

 -->
<section id="welcome" ng-controller="LoginController as login">

    <b>Welcome! Please Login!</b>
    <form ng-submit="login.authenticate(user)" ng-model-options="{debounce:500}">
        <input class="input login username" type="text"     ng-model="user.name" placeholder="username" /><br>
        <input class="input login password" type="password" ng-model="user.passwd" placeholder="password" /><br>
        <input class="input login submit"   type="submit"   placeholder="Login!" />
    </form>
    
    <div>
    Logged {{login.status}} with id: {{login.userData.id}} <br />
    </div>
    
    
</section>