/*
 * CSS Styles for Risk Demo App
 *
 * Copyright 2014, Vancouver Film School
 *
 */

body {
    background-color:black;
}

body,div {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
    background-color: grey;
    font-family: "American Typewriter";
}

/* Styles for illustrating the example */
a {
    color:#FFF;
    text-decoration:underline;
}

div > * {
    margin: 10px;
}

div {
    position: relative;
    background-color: #999;
}


.debug {
    border:1px dashed red;
    z-index: 6000;    
}

.clear { 
    clear: both;
}

#risk-splash {
    background-image: url("images/Risk.jpg");
    background-size: 100% 100%;
    width: 512px;
    height: 512px;
}

.appScreen {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
}

.army {
    width: 16px;
    height: 16px;
}

.simple-form { }
