/*
 * CSS Styles for Risk Demo App
 *
 * Copyright 2014, Vancouver Film School
 *
 */

body {
    background-color:white;
}

body,div {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
    background-color: grey;
    font-family: "Helvetica";
}

/* Styles for illustrating the example */
a {
    color:#FFF;
    text-decoration:underline;
}

div > * {
    margin: 10px;
}

div {
    position: relative;
    background-color: #999;
}


.debug {
    border:1px dashed red;
    z-index: 6000;    
}

.clear { 
    clear: both;
}

.app-screen {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
}

.simple-form { }
